    <section id="footer" class="bg-dark py-3">
        <div class="container text-white text-center">
            <p class="Lead">Copyright - Tryals Inc.</p>
        </div>
    </section>
    </body>
</html>
