<!DOCTYPE html>
<html>
    <head>
        <Title>Tryals</Title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script type="text/javascript" src="/js/tryals.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> <!-- Needed for dropdown menu -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="http://www.tryals.com">Tryals<span class="copyright">&copy;</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                 <ul class="navbar-nav mb-4 ml-auto">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Form Builder
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="\Adminstudy">Study Fields</a>
                        <a class="dropdown-item" href="\Adminsite">Site Fields</a>
                        <a class="dropdown-item" href="\Adminsubject">Subject Fields</a>
                        <a class="dropdown-item" href="\adminphase">Phase Fields</a>
                        <a class="dropdown-item" href="\adminvisit">Visit Fields</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Creation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="\Adminstudyconfig">Study Creation</a>
                      <a class="dropdown-item" href="\Adminsiteconfig">Site Creation</a>
                      <a class="dropdown-item" href="\Adminsubjectconfig">Subject Creation</a>
                      <a class="dropdown-item" href="\Adminphaseconfig">Phase Creation</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="\Adminstudyhome">Study</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="\Adminsitehome">Site</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="\Adminsubjecthome">Subject </a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="\phase">Phase</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="\visit">Visit</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="\reports">Reports</a>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Administration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="\Adminuser">Users</a>
                      <a class="dropdown-item" href="\AdminLogs">Logs</a>
                    </div>
                  </li>

                <!-- <ul class="navbar-nav navbar-right"> -->
                  <% if (currentUser) { %> 
                    <li class="nav-item">
                      <span class="nav-link bg-light text-dark"><%= currentUser.username %> (<%= currentUser.role %>) </span>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link bg-info text-dark" href="/logout">Logout</a>
                    </li>
                  <% } %>
                <!-- </ul> -->
              </ul>
            </div>
            
 
        </nav>
        
        <div class="container alert">
          <% if (error && error.length > 0) {%>
            <div class="alert alert-danger" role="alert">
                    <%= error %>
            </div>
          <% } %>
          <% if (success && success.length > 0) {%>
            <div class="alert alert-success" role="alert">
                    <%= success %>
            </div>
          <% } %>
        </div>
