<% include partials/adminheader.ejs %>
<div class="container">
    <h1 class="formheading mb-2">REPORTS - VISITS</h1>
    <div class="row mb-3">
        <div class="col-4">
            <a href="\reports\visits\allvisits">
            <div class="card bg-light border-dark">
                <div class="card-body">
                    <h5>ALL VISITS - FOR DATABASE EXPORT</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-4">
            <a href="\reports\visits\allvisitsdetailed">
            <div class="card bg-light border-dark">
                <div class="card-body">
                    <h5>ALL VISITS - DETAILED</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-4">
            <a href="\reports\visits\allvisitspersubject">
            <div class="card bg-light border-dark">
                <div class="card-body">
                    <h5>ALL VISITS PER SUBJECT</h5>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>

<% include partials/adminfooter.ejs %>