<% include partials/adminheader.ejs %>
<div class="container">
<h1 class="formheading mb-2">REPORTS</h1>
    <div class="row mb-3">
        <div class="col-4">
            <a href="\reports\visits">
            <div class="card bg-light border-dark">
                <div class="card-body">
                    <h5>VISITS</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-4">
            <a href="\reports\study">
            <div class="card bg-light border-dark">
                <div class="card-body">
                    <h5>STUDY</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-4">
            <a href="\reports\sites">
            <div class="card bg-light border-dark">
                <div class="card-body">
                    <h5>SITES</h5>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
<% include partials/adminfooter.ejs %>